.component-header{
    padding: 16px;
    position: relative;
    font-weight: bold;
    font-family: "megrim","Open Sans", Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    color: rgb(39, 39, 39);
    background-color: rgb(230, 230, 230);
    display: flex;
}