.component-header{
    padding: 16px 16px 10px 16px;
    position: relative;
    font-weight: bold;
    font-family: "megrim","Open Sans", Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    color: rgb(27, 27, 27);
    /* background:linear-gradient(0.25turn,white, rgb(71, 71, 71)); */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* .component-header img{
    width: 40px;
} */